<% content_for :head do %>
	<%= stylesheet_link_tag 'app/views/compare' %>
	<%= javascript_include_tag 'app/views/compare' %>
<% end %>
<div id="compare">
  <% i = 0 %>
  <% cls = 'compare_map' %>
  <% @kms.each do |km| %>
    <% id = "#{cls}#{i}" %>
    <div id="<%= id %>" class="<%= cls %>" data-km="<%= km.to_json %>"></div>
    <% i += 1 %>
  <% end %>
</div>
